DB_HOST=localhost
DB_PORT=5432
DB_NAME=api_lab
DB_USER=api_lab_app
DB_PASSWORD=samplepass

TEST_DB_HOST=localhost
TEST_DB_PORT=5432
TEST_DB_NAME=api_lab_test
TEST_DB_USER=api_lab_app
TEST_DB_PASSWORD=samplepass
